<div class="wiki-card">
  <div class="wiki-card-heading">
    <gm-icons name="hades"></gm-icons>
    <h1>Hades</h1>
  </div>
  <div>
    <p>
      Hades (/ˈheɪdiːz/; Greek: ᾍδης Hádēs; Ἅιδης Háidēs), in the ancient Greek religion and myth, is the god of the
      dead
      and the king of the underworld, with which his name became synonymous.[1] Hades was the eldest son of Cronus and
      Rhea, although the last son regurgitated by his father.[2] He and his brothers, Zeus and Poseidon, defeated their
      father's generation of gods, the Titans, and claimed rulership over the cosmos. Hades received the underworld,
      Zeus
      the sky, and Poseidon the sea, with the solid earth, long the province of Gaia, available to all three
      concurrently.
      Hades was often portrayed with his three-headed guard dog Cerberus.
    </p>
    <p>
      The Etruscan god Aita and the Roman gods Dis Pater and Orcus were eventually taken as equivalent to Hades and
      merged
      into Pluto, a Latinization of Plouton (Greek: Πλούτων, Ploútōn),[3] itself a euphemistic title often given to
      Hades.
    </p>
  </div>
</div>
